* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    /* color: #706B5D; */
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
  background-color: #f0f8ff;
    
    
}

h1{
    font-size: 3.8rem;
    margin-left: 50px;
}

#main-container{

    display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px 0 40px;
  max-width: 1600px;
  margin: 0 auto;

}

header{
    padding:0 0px 10px 5px;
text-align: center;

/* margin: 0 auto; */
}

nav{
}

a{
    color: #004785;
    text-decoration-line: none;
}

.logo-text{
    font-size: 2.8rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;    
    border: 2px solid #004785;
    background-color: #C0C6CC;
    display: inline-block;

}

.footer-copy{
    font-size: 1.0rem;
    color: #C0C6CC;
}

footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.resume-embed{
width: 100%;
height: 100%;
margin: 0 auto;
}

p{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2.8rem;
    text-align: center;
    margin: 100px 0 100px 0;
}



.resume-container
{
    margin: 20px auto;
    width: 50%;
    height: 800px; 
    min-width: 400px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .8);
    margin: 0 auto 50px auto;
}

.contact-info{
    margin: 0 auto;
    width: 100px;
    font-size: 3.0rem;
}

@media screen and (max-width: 450px) {
    
    h1{
        text-align: center;
    }
  }
